@use '../../../assets/styles/colors.scss';

.primary-header {
  background-color: colors.$neutral;
  height: 84px;
}

.tabs {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  gap: 1em;
}
