@use '../../../assets/styles/colors.scss';

.primary-header {
  background-color: colors.$neutral;
  height: 72px;
}

.wrapping {
  padding: 15px;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50px);
  gap: 1em;
}
