<div class="wrapper">
  <mat-card>
    <mat-card-title>New Campaign</mat-card-title>

    <mat-card-content>
      <mat-form-field [style.width.vw]="30">
        <mat-label>Campaign Name</mat-label>
        <input [(ngModel)]="campaign.name" matInput placeholder="name" type="text">
      </mat-form-field>

      <mat-form-field [style.width.vw]="30">
        <mat-label>Campaign Description</mat-label>
        <textarea [(ngModel)]="campaign.description" matInput></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="selectedPlanets" multiple>
          @for (planet of planets; track planet) {
            <mat-option [value]="planet">{{planet.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
