@use '/src/assets/styles/colors.scss' as colors;
@use '/src/assets/styles/fonts.scss' as fonts;

.item {
  padding: 15px;
  display: inline-block;
  align-items: center;
  font-size: fonts.$medium-large;
}

.item:hover {
  background-color: colors.$neutral-dark;
}

button {
  background-color: colors.$neutral;
}
