@use '/src/assets/styles/colors.scss' as colors;
@use '/src/assets/styles/structures.scss' as structures;

.wrapping {
  margin: structures.$wrapper-card-narrow;
}

.title {
  padding: 15px 10px;
}

.error {
  color: colors.$red-200;
}
