@page "/welcome"

<PageTitle>Welcome!</PageTitle>

<body>

    <h1>Welcome to Blazor!</h1>

    <p>@message</p>
</body>



@code {
    private string message =
        "Hello from a Razor component and welcome to Blazor!";
}